include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include ajc_tools *.css
recursive-include ajc_tools *.csv
recursive-include ajc_tools *.html
recursive-include ajc_tools *.ico
recursive-include ajc_tools *.js
recursive-include ajc_tools *.json
recursive-include ajc_tools *.md
recursive-include ajc_tools *.png
recursive-include ajc_tools *.py
recursive-include ajc_tools *.svg
recursive-include ajc_tools *.txt
recursive-exclude ajc_tools *.pyc